::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 50px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.hide_scrollbar_thumb::-webkit-scrollbar-thumb {
  background: #77777700;
  border-radius: 50px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.hide_scrollbar_thumb:hover::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 50px;
  border: 5px solid transparent;
  background-clip: content-box;
}

.hide_scrollbar_thumb:hover::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  border-radius: 50px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
  background-clip: content-box;
}
