@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'config/base';
@import 'components/cropper';
@import 'components/drawer';
@import 'components/editor';
@import 'components/nav';
@import 'components/scrollbar';
@import 'components/sidebar';
@import 'components/tiptap';
@import 'components/toasts';
@import 'layout';
@import 'mui';
@import 'unsorted';
/* @import 'elements/buttons.css'; */
@import 'elements/typography';

.lucide {
  stroke-width: 1.5px;
}

.force_hidden {
  display: none !important;
}

.prevent_overscroll {
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
}

img:not([src]) {
  visibility: hidden;
}

.hide_right_margin {
  width: calc(100% + 1.5rem);
}

.hide_event_margin_bottom {
  height: calc(100% - 1.5rem);
}

.reading_font_size {
  font-size: 16px;
}

.post_editor_shadow {
  box-shadow: 0 12px 24px -15px rgb(0 0 0 / 0.1);
}

.outbound_link_icon {
  opacity: 0;
}

.user_link_button:hover .outbound_link_icon {
  opacity: 1;
}

.main_searchbar_shadow {
  box-shadow: inset 1px 2px 4px -5px #000000cc;
}

.dropdown_shadow {
  box-shadow: 0 8px 32px -6px #0000003a;
}

.modal_shadow {
  box-shadow: 0 12px 48px -12px #00000060;
}

textarea {
  resize: none;
}

.force_rounded_md {
  border-radius: 0.375rem !important;
}

.force_rounded_lg {
  border-radius: 0.5rem !important;
}

.force_rounded_2xl {
  border-radius: 2rem !important;
}

.force_rounded_full {
  border-radius: 100% !important;
}

blockquote {
  quotes: initial !important;
}

iframe {
  border-radius: 0.5rem;
  /* overflow: hidden; */
}

.Toastify__toast {
  border-radius: 0.5rem;
  /* background-color: #555; */
}

@layer components {
  .base_button_styles,
  .input_button_styles {
    @apply cursor-pointer select-none whitespace-nowrap px-3.5 py-2.5 text-sm font-semibold;
  }

  .base_button_styles {
    @apply rounded-xl;
  }

  .input_button_styles {
    @apply rounded-lg;
  }

  .button_min_width {
    @apply min-w-24;
  }

  .button_colors--filled {
    @apply bg-accent-main text-white hover:bg-opacity-80;
  }

  .button_colors--outline {
    @apply border border-neutral-500 text-black hover:bg-neutral-100;
  }
}
