.DialogOverlay {
  z-index: 99;
  background-color: #00000070;
  position: fixed;
  inset: 0;
  overflow-y: auto;

  /* animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1); */
}

.DialogContent {
  z-index: 100;
  /* display: flex; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  /* right: 0; */
  /* bottom: 0; */
  /* margin: auto; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* max-width: 90vw; */
  /* min-height: 50vh; */
  /* max-height: 90vh; */
  /* animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1); */
}
.DialogContent:focus {
  outline: none;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
